includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
parameters:
	level: 9
	paths:
		- src
		- tests
	ignoreErrors:
		-
			message: '#^Cannot call method scalarNode\(\) on Symfony\\Component\\Config\\Definition\\Builder\\NodeParentInterface\|null\.$#'
			count: 1
			path: src/BalikobotBundle.php
